@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Header = "The Joel Hilton Film Collection";
}

<br />
<div>
    <img src="img/JoelHilton.jpg" width="600"/>
</div>
<br /><br /><br /><br />